body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:374px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:599px;
}
#u3227 {
  position:absolute;
  left:0px;
  top:49px;
  width:374px;
  height:598px;
}
#u3228 {
  position:absolute;
  left:2px;
  top:291px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3229 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
}
#u3230 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:48px;
}
#u3231 {
  position:absolute;
  left:2px;
  top:16px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u3232 {
  position:absolute;
  left:151px;
  top:13px;
  width:73px;
  height:17px;
  font-size:18px;
  color:#FFFFFF;
}
#u3233 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3234 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3235_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:14px;
  height:6px;
}
#u3235 {
  position:absolute;
  left:20px;
  top:25px;
  width:11px;
  height:3px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u3236 {
  position:absolute;
  left:2px;
  top:-6px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3237_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:14px;
  height:6px;
}
#u3237 {
  position:absolute;
  left:20px;
  top:18px;
  width:11px;
  height:3px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u3238 {
  position:absolute;
  left:2px;
  top:-6px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3239 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:142px;
}
#u3240 {
  position:absolute;
  left:109px;
  top:181px;
  width:157px;
  height:141px;
  color:#666666;
}
#u3241 {
  position:absolute;
  left:2px;
  top:54px;
  width:153px;
  word-wrap:break-word;
}
#u3242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
}
#u3242 {
  position:absolute;
  left:113px;
  top:332px;
  width:149px;
  height:17px;
}
#u3243 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
