body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:374px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:599px;
}
#u2982 {
  position:absolute;
  left:0px;
  top:49px;
  width:374px;
  height:598px;
}
#u2983 {
  position:absolute;
  left:2px;
  top:291px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
}
#u2985 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:48px;
}
#u2986 {
  position:absolute;
  left:2px;
  top:16px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u2987 {
  position:absolute;
  left:151px;
  top:13px;
  width:73px;
  height:17px;
  font-size:18px;
  color:#FFFFFF;
}
#u2988 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2990_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:14px;
  height:6px;
}
#u2990 {
  position:absolute;
  left:20px;
  top:25px;
  width:11px;
  height:3px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u2991 {
  position:absolute;
  left:2px;
  top:-6px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2992_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:14px;
  height:6px;
}
#u2992 {
  position:absolute;
  left:20px;
  top:18px;
  width:11px;
  height:3px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u2993 {
  position:absolute;
  left:2px;
  top:-6px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2994 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:142px;
}
#u2995 {
  position:absolute;
  left:109px;
  top:181px;
  width:157px;
  height:141px;
  color:#666666;
}
#u2996 {
  position:absolute;
  left:2px;
  top:54px;
  width:153px;
  word-wrap:break-word;
}
#u2997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
}
#u2997 {
  position:absolute;
  left:113px;
  top:332px;
  width:149px;
  height:17px;
}
#u2998 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
