body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:374px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:599px;
}
#u3041 {
  position:absolute;
  left:0px;
  top:49px;
  width:374px;
  height:598px;
}
#u3042 {
  position:absolute;
  left:2px;
  top:291px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3043 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
}
#u3044 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:48px;
}
#u3045 {
  position:absolute;
  left:2px;
  top:16px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u3046 {
  position:absolute;
  left:151px;
  top:13px;
  width:73px;
  height:17px;
  font-size:18px;
  color:#FFFFFF;
}
#u3047 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3048 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3049_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:14px;
  height:6px;
}
#u3049 {
  position:absolute;
  left:20px;
  top:25px;
  width:11px;
  height:3px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u3050 {
  position:absolute;
  left:2px;
  top:-6px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3051_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:14px;
  height:6px;
}
#u3051 {
  position:absolute;
  left:20px;
  top:18px;
  width:11px;
  height:3px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u3052 {
  position:absolute;
  left:2px;
  top:-6px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3053 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:142px;
}
#u3054 {
  position:absolute;
  left:109px;
  top:181px;
  width:157px;
  height:141px;
  color:#666666;
}
#u3055 {
  position:absolute;
  left:2px;
  top:62px;
  width:153px;
  word-wrap:break-word;
}
#u3056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
}
#u3056 {
  position:absolute;
  left:113px;
  top:332px;
  width:149px;
  height:17px;
}
#u3057 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
